//-
//- Copyright (C) 2015 by Looker Data Services, Inc.
//- All rights reserved.
//-

html(ng-app="app")
    head
        title Dataflux Todos
        link(rel="stylesheet" type="text/css" href="/main.css")

    body
        .content
            todo-list

        script(src="/external.js")
        script(src="/internal.js")
