//-
//- Copyright (C) 2015 by Looker Data Services, Inc.
//- All rights reserved.
//-

html
    head
        title My Sample App
        link(rel="stylesheet" type="text/css" href="/main.css")

    body
        .content

        script(src="/external.js")
        script(src="/internal.js")
